@media screen and (max-width: 768px) {
    /* 768px以下の場合のスタイルをここに追加 */
    /* 例えば、ヘッダーの高さを変更する */
}
*{
    margin: 0;
    padding: 0;
    font-size: 100%; /* デフォルトのフォントサイズを基準にする */
    font-size: 1rem; /* 例えば、1remを基準にする */
}
/* home.html */
body{
    background: #81bcd8;
    width: 100%;
    height: auto;
}
.site-header{
    background: #fff;
    display: flex;
    padding: 30px 30px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 30;
}
.shop_name{
    height: 30px;
    width: auto;
}
.main_nav {
    margin-left: 10px; 
}
.nav_menu{
    display: flex;
}
.nav_menu_item{
    margin-right: 100px;
}
.nav_menu_item a{
    color: #333;
    text-decoration: none;
}

.main_area{
    padding-top: 300px;
}

#top_slide {
    width: 65%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    z-index: 20;
}

#top_slide img {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; 
    max-height: 100%; 
    z-index: 10;
}
.main_content{
    line-height: 1.6;
    margin: 30% auto 5% auto;
    width: 70%;
}

.site-footer{
    background: #333;
    padding: 30px 30px;
}
.copyright{
    color: #fff;
    font-size: 12px;
    text-align: center;
}